* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .sign a{
    z-index: 100;
    color: black;
    font-size: 25px;
    position: relative;
    font-weight: 600;
    text-decoration: none;
}
.sign a:hover {
    text-decoration: underline;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}
b {
    color: red;
    font-size: 60px;
    font-weight: bolder;
    margin-right: -15px;
    opacity: 0.9;
  }
  
  .logo {
    display: flex;
    align-items: center;
    opacity: none;
    gap: -10px;
}
.logo img {
    z-index: 100;
    position: relative;
    width: 200px;
  }
  .body1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}
h1 {
    font-size: 40px;
}
p {
    margin-top: 20px;
    font-size: 20px;
}
form {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
}
a {
    color: rgb(0, 119, 255);
    text-decoration: none;
}
button  {
    font-size: 20px;
    margin-top: 50px;
    padding: 1px 100px;
    background-color: red;
    border: none;
    height: 60px;
    width: 100%;
   }
   .button input {
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
   }
   @media screen and (max-width:600px) {
    .logo img {
        z-index: 100;
        position: relative;
        width: 100px;
      }
      .navbar {
        padding: 5px 10px;
      }
      .logo {
        gap: 10px;
      }
      b {
        font-size: 30px;
      }
      h1 {
        font-size: 30px;
      }
      .border {
        margin: 10px 20px;
      }
   }